/*
 * Copyright (c) 2025 Regis Rousseau
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "mdbt50q_lora_dev-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model		= "mdbt50q_lora_dev";
	compatible	= "raytac,raytac-mdbt50q-db-40-nrf52840";

	chosen {
		zephyr,console		= &uart0;
		zephyr,shell-uart		= &uart0;
		zephyr,uart-mcumgr	= &uart0;
		zephyr,bt-mon-uart		= &uart0;
		zephyr,bt-c2h-uart		= &uart0;
		zephyr,ieee802154		= &ieee802154;
		zephyr,sram			= &sram0;
		zephyr,flash			= &flash0;
		zephyr,code-partition	= &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led_user: led_0 {
			gpios	= <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label 	= "Green LED User";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios		= <&gpio0 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label			= "Reset Button";
			zephyr,code	= <INPUT_KEY_0>;
		};
		button1: button_1{
			gpios		= <&gpio0 23(GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label			= "User Button";
			zephyr,code	= <INPUT_KEY_1>;
		};
	};

	aliases {
		ledtx				= &led_user;
		sw0				= &button0;
		sw1				= &button1;
		lora0			= &lora;
		mcuboot-button0 	= &button0;
		watchdog0		= &wdt0;
	};
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
	status = "okay";
};

&uicr {
	gpio-as-nreset;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible	= "nordic,nrf-uart";
	status		= "okay";
	current-speed	= <115200>;
	pinctrl-0		= <&uart0_default>;
	pinctrl-1		= <&uart0_sleep>;
	pinctrl-names	= "default","sleep";
};

&rtc2 {
	compatible	= "nordic,nrf-rtc";
        status		= "okay";
	cc-num      	= <3>;
        prescaler   	= <1>;	// 32768 Hz / (prescaler+1) = 16384 Hz
};

/* TPH sensor: SHT31 (0x44) & RTC: DS3231 (0x68) */

&i2c0 {
	compatible		= "nordic,nrf-twim";
	status			= "okay";
	pinctrl-0			= <&i2c0_default>;
	pinctrl-1			= <&i2c0_sleep>;
	pinctrl-names 		= "default", "sleep";
	//pinctrl-names		= "default";
	clock-frequency	= <I2C_BITRATE_FAST>;

	sht3xd@44 {
		compatible	= "sensirion,sht3xd";
		reg			= <0x44>;
		alert-gpios	= <&gpio0 11 GPIO_ACTIVE_HIGH>;
	};

	ds3231: ds3231@68 {
		compatible	= "maxim,ds3231";
		reg			= <0x68>;
		isw-gpios		= <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

/* RFM95W module */

&spi1 {
	compatible	= "nordic,nrf-spi";
	status		= "okay";
	pinctrl-0		= <&spi1_default>;
	pinctrl-1		= <&spi1_sleep>;
	pinctrl-names	= "default", "sleep";

	cs-gpios	= <&gpio0 13 GPIO_ACTIVE_LOW>;
    
    	lora: sx1276@0 {
        	compatible	= "semtech,sx1276";
        	reg			= <0>;
        	label			= "sx1276";

        	reset-gpios	= <&gpio0 17 GPIO_ACTIVE_LOW>;
		dio-gpios		= <&gpio0 19 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            	    	    	  	   <&gpio0 20 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                                  	   <&gpio0 21 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;

        	// spi-max-frequency	= <10000000>; 
		spi-max-frequency		= <125000>;
        	power-amplifier-output	= "pa-boost";
    	};
};

/* EEPROM Serial Flash Memory: MX25R6435 */

&qspi {
	status		= "okay";
	pinctrl-0 		= <&qspi_default>;
	pinctrl-1		= <&qspi_sleep>;
	pinctrl-names	= "default", "sleep";
	
	mx25r64: mx25r6435f@0 {
		compatible	= "nordic,qspi-nor";
		reg			= <0>;
		/* MX25R64 supports only pp and pp4io */
		writeoc		= "pp4io";
		/* MX25R64 supports all readoc options */
		readoc		= "read4io";
		sck-frequency	= <8000000>;
		jedec-id		= [c2 28 17];
		sfdp-bfp		= [
					e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
					ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
					10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
					30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		];
		size			= <67108864>;
		has-dpd;
		t-enter-dpd	= <10000>;
		t-exit-dpd		= <35000>;
	};
};

/* internal flash memory */

&flash0 {
	partitions {
		compatible 	= "fixed-partitions";
		#address-cells	= <1>;
		#size-cells	= <1>;

		boot_partition: partition@0 {
			label 	= "mcuboot";
			reg 		= <0x00000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label 	= "image-0";
			reg 		= <0x0000C000 0x00077000>;
		};
		slot1_partition: partition@83000 {
			label 	= "image-1";
			reg 		= <0x00083000 0x00075000>;
		};
		/* 32KB (8x4kB pages) of storage at the end of the 1MB flash */
		storage_partition: partition@f8000 {
			label		= "storage";																																																																				
			reg 		= <0x000f8000 0x00008000>;
		};
	};
};

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible	= "nordic,nrf-usbd";
	status		= "okay";
};